body{
    background-color: lightblue;
}

ul{
    background-color: rgb(127, 214, 127);
    list-style-type: none;
    width: 300px;
    padding: 10px;

}

.items-nav{
display: inline;
padding: 10px;
}

h1{
    background-image: url(./imgs/cachorros.jpg);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    height: 500px;
    margin: 40px;
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    text-shadow: 5px 5px whitesmoke;
    padding: 80px 20px
}
.tarjeta{
    max-width: 300px;
    border: 2px solid darkgreen;
    box-shadow: 5px 5px 10px blue, -5px -5px 10px violet;

    margin-left: 40vw;


}



.img-tar{
    width: 100%;
   
  
}

.text-img{
    font-weight: bold;
    font-style: italic;
    
   text-align: center;
   text-shadow: 1px 1px rgb(33, 145, 38);
}